@import url('https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    scroll-behavior: smooth;
    background-color: #F7F7F3;
   
}

:root {
    --teamColor: #3798D4;
    --backgroundColor: #F7F7F7;
    --headingColor: #033d51;
}

/* Navbar section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 6px 100px;
    z-index: 1000;
    background-color: #fff;
}

.dowload-btn,
.demo-btn {
    margin-top: 12px;
}

.dowload-btn button {
    background-color: var(--teamColor);
    padding: 6px 20px !important;
    height: 50px;
    width: 170px;
    color: #fff;
    border: 1px solid var(--teamColor);
    border-radius: 8px;
    transition: 0.3s;
}

.dowload-btn button:hover {
    color: var(--teamColor);
    background-color: #fff;
    border: 1px solid var(--teamColor);
    transform: 0.3s;
}

.demo-btn button {
    background-color: #fff;
    padding: 6px 20px !important;
    height: 55px;
    color: var(--teamColor);
    border: 1px solid var(--teamColor);
    border-radius: 40px;
    transition: 0.3s;
}

.demo-btn button:hover {
    color: #fff;
    background-color: var(--teamColor);
    border: 1px solid var(--teamColor);
    transform: 0.3s;
}

header.sticky {
    padding: 10px 80px 1px 80px;
    background: #fff;
    box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 55px;

}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 15px;
}

.nav__item a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    transition: 0.6s;
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--teamColor);
}

.header__close,
.header__toggle {
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--textColor);
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--teamColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__list a:hover:after {
    width: 100%;
    left: 0;
} 

/* banner section css */

.carousal-section{
     margin-top: -370px;
}


.container {
    position: relative;
    top: -500px;
}
.button{
    width: 175px;
    height: 55px;
    background-color: var(--teamColor);
    border-radius: 8px;
    border: none;
    color: #ffff;
    margin-top: 30px;
    font-size: 18px;
}
.container h1{
    color: #ffff;
    font-size: 50px;
}
.container h1 span{
    color:var(--teamColor);
}
.container p{
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    font-weight: 200;
   
}
.carousel-indicators{
  margin-bottom: 370px;
        
}
.title-section{
    margin-top: -400px;
}
.title img{
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin-top: -300px;
}
/* .about-section img{
    width: 540px;
    height: 400px;
    margin-top: 300px;
}
.about-section1{
    margin-left: 600px;
    margin-top: -400px;
}
.about-section1 img{
    width: 170px;
    height: 40px;
    
}
.about-section1 p{
    color: black;
    text-align: justify;
} */
.about-section2{
    margin-top: -100px;
}
.col-lg-6 p{
    color: black !important;
    opacity: 60%;
}

/* cards section css */


.card-body{
    width: 350px;
}
  
  
.cards-section{
    margin-top: -50px;
}
.card-body p{
    color: black;
    opacity: 60%;
}
.card-body h3{
    margin-top: 10px;
}

.cards{
    margin-top: -400px;
}
.title h4{
    text-align: center;
    margin-top: 250px;
    color: var(--teamColor);
    font-size: 22px;
    font-weight: bold;
  
}
.card-body img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.title1 h4{
   
    text-align: center;
    margin-top: -350px;
    color: var(--teamColor);
    font-size: 22px;
    font-weight: bold;
}
.title1 h2{
    text-align: center;
}
.title h2{
    text-align: center;
   
}
.card{
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.card-body p{
 margin-top: 5px;
}


/* swiper section css */
.swiper {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
   
  }

  .swiper-slide img {
    display: block;
    width: 500px;
    height: 500px;
    object-fit: cover;

    /* padding: 30px; */
  }

   /*footercss */
   .footer-section2{
    margin-top: 500px;
   }
   .footer-section {
    margin-top: 100px;
    background-image: url('images/home/footer-background.webp');
    /* background-position: center; */
    background-size: cover;
    padding: 80px 0px 20px 0px;
    background-color: #07081C;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.footer-section img {
    height: 55px;
    position: relative;
    top: 20px;
}

.footer-section p,
.footer-section a {
    color: #fff;
    text-decoration: none;
    margin-top: 120px;
    font-size: 15px;
}
.footer-section p{
    position: relative;
    top: 20px;
}
.footer-section h5 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.footer-section ul {
    margin: 0px;
    padding: 0px;
}

.footer-section ul li {
    list-style: none;
    color: #fff;
    margin: 13px 0px 0px 0px;
}

.social-media {
    display: flex;
    color: #fff;
}

.round {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-nav {
    display: flex;
    justify-content: center;
    margin-top:-50px;
    color: #fff;
    font-size: 10px;
    
}

.row{
    margin-top: 450px;
}



    /*responsive section */



@media all and (max-width:1190px) {

    .dowload-btn,
    .demo-btn {
        display: none;
    }
}

@media all and (max-width:900px) {


    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #000000ee;
        font-size: 24px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 40%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        z-index: 1000;
    }

    header.sticky {
        padding: 10px 60px 10px 60px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    header .logo {
        position: relative;
        color: var(--textColor);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s;
    }

    .logo img {
        height: 40px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .show {
        right: 0;

    }

    .nav__item {
        margin: 2rem 0;
    }

    .dowload-btn,
    .demo-btn {
        display: none;
    }

    /* banner section css */

}




@media all and (max-width:700px) {

  

     body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 35px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 8px 20px 8px 20px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #000000ee;
        font-size: 26px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 22%;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 8px 25px 8px 25px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    br {
        display: none !important;
    }
/* banner section css */
.carousel-indicators button{
    margin-bottom: 20px;
}

.container h1{
    font-size: 22px;
    margin-top: 100px;
}
.container p{
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff;
}
.carousel-inner img{
   
    height: 500px;
}
.button{
    width: 140px;
    height: 48px;
    background-color: var(--teamColor);
    border-radius: 8px;
    border: none;
    color: #ffff;
    margin-top: 10px;
    font-size: 20px;
}
.title img{
    margin-top: -600px;
 }

/*about section css */
.about-section2{
    margin-top: 100px;
}
.about-section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.row{
    flex-direction: row;
    gap: 10px;
}
.col-lg-6 h3{
    margin-top: 20px;
}
.col-lg-6 p{
    color: black !important;
}


 /* .about-section img{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    
}
.about-section1 img{
    width: 300px;
    height: 100%;
    margin-left: -570px;
    margin-top: 430px;
}
.about-section1 p{
    color: black;
    text-align: justify;
    margin-left: -590px;
    width:330px;
    margin-top: 10px;
    overflow: hidden;
}
.about-section1 h3{
    color: black;
    text-align: justify;
    margin-left: -590px;
    width:330px;
    margin-top: 10px;
} */
  /* card-section css */
  .cards-section{
    margin-top: 50px;
  }
.title h4{
    text-align: center;
    margin-top: -20px;
    color: var(--teamColor);
    font-size: 22px;
    font-weight: bold;
}
.card-body p{
    color: black;
    position: relative;
    bottom: 8px;
}
.card{
    width: 100%;
    height: 100%;
    margin-top: -30px;
}
/* .card-body img{
    width: 93%;
    position: relative;
    left: 10px;
   
}
.card-body p{
    width: 93%;
    position: relative;
    left: 10px;
   
    
}
.card-body h3{
    position: relative;
    left: 10px;
} */
/* slider-section css */

.title1 h4{
    position: relative;
    top: -100px;
}
.title1 h2{
    position: relative;
    top: -100px;
}

.swiper {

    width: 100%;
    height: 100%;
    position: relative;
    top: -100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    padding: 16px;
    object-fit: cover;


    /* padding: 30px; */
  }

  
/* about-section css */

.about-section {
margin-top: 70px;
}


/* footer-section css */

.footer-section {
margin-top: -50px;
background-image: url('images/home/footer-background.webp');
background-position: center;
background-size: cover;
padding: 40px 0px 20px 0px;
height: 1000px;
}

.footer-section img {
height: 35px;
margin-top: 50px;
}

.footer-section h5 {
color: #fff;
font-weight: 600;
margin-top: 40px;
}

.footer-line {
height: 0.5px;
width: 100%;
background-color: #a8a8a8;
margin-top: 30px;
}

.footer-nav { 

display: flex;
justify-content: center;
margin-top: 10px;
}

.footer-nav p {
text-align: center;
font-size: 12px;
}


}